.filter-controls {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 16px;
    flex-wrap: wrap;
  
    ion-searchbar {
      flex: 1;
      min-width: 250px;
    }
  
    ion-item {
      flex: 1;
      min-width: 200px;
    }
  }
  
.motorcycle-catalog-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
    padding: 16px;

    app-motorcycle-card {
        flex: 0 0 250px; // This gives a fixed width to the cards
    }
}