<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <img class="header-logo" src="assets/icon/Kawasaki_Logo_vert.svg" alt="Kawasaki Logo">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-header>
    <ion-card-title>Featured Motorcycles</ion-card-title>
  </ion-card-header>

  <div class="featured-motorcycle-wrapper">
    <div class="featured-content-container">
      <div class="details-container">
        <div *ngIf="activeMotorcycle">
          <h2>{{ activeMotorcycle.modelName }}</h2>
          <p><strong>Category:</strong> {{ activeMotorcycle.category }}</p>
          <p><strong>Engine Type:</strong> {{ activeMotorcycle.engineType }}</p>
          <p><strong>Displacement (CC):</strong> {{ activeMotorcycle.displacementCC }}</p>
          <p><strong>SRP:</strong> ₱{{ activeMotorcycle.priceSRP }}</p>
          <ion-button (click)="handleViewDetails(activeMotorcycle.id)">View More</ion-button>
        </div>
      </div>
      <swiper-container #swiperContainer class="image-slider" (swiperinit)="handleSwiperInit($event)" (swiperslidechange)="handleSwiperSlideChange($event)">
        <swiper-slide *ngFor="let motorcycle of motorcycles">
          <div class="image">
            <img [src]="motorcycle.mainImage" [alt]="motorcycle.modelName">
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>

  <ion-card-header>
    <ion-card-title>Available Motorcycles</ion-card-title>
  </ion-card-header>

  <div *ngIf="motorcycles.length > 0" class="motorcycle-container">
    <app-motorcycle-card
      *ngFor="let motorcycle of motorcycles"
      [id]="motorcycle.id"
      [modelName]="motorcycle.modelName"
      [priceSRP]="motorcycle.priceSRP"
      [mainImage]="motorcycle.mainImage"
      (viewDetails)="handleViewDetails($event)"
    ></app-motorcycle-card>
  </div>
  <div *ngIf="motorcycles.length === 0">
    <p class="ion-padding">No motorcycles available.</p>
  </div>

</ion-content>
