.featured-motorcycle-wrapper {
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
  margin: 15px;
}

.featured-content-container {
  display: flex;
  flex-direction: column; /* Mobile-first: stack items vertically */
  padding: 20px;
}

.details-container {
  width: 100%; /* Take full width on mobile */
  text-align: left;
  padding: 15px;
  margin-right: 0; /* Remove margin for mobile */
  z-index: 2;
  position: relative;
}

.details-container h2 {
  font-size: 2em; /* Mobile-friendly font size */
  margin-bottom: 10px;
}

.details-container p {
  font-size: 1em; 
  margin-bottom: 5px;
}

.image-slider {
  width: 100%; /* Take full width on mobile */
  height: 250px; /* Adjusted height for mobile */
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px; /* Add some space between text and image on mobile */
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent; 
  position: relative;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (min-width: 768px) {
  .featured-motorcycle-wrapper {
    align-items: center;
  }

  .featured-content-container {
    flex-direction: row; /* Desktop: arrange items horizontally */
    align-items: center; /* Vertically align items */
  }

  .details-container {
    flex: 1; /* Share space equally */
    margin-right: 20px; /* Restore margin for desktop */
    width: auto; /* Revert width */
  }

  .details-container h2 {
    font-size: 3em; /* Larger font size for desktop */
  }

  .image-slider {
    flex: 1; /* Share space equally */
    max-width: 500px; /* Keep max-width for image */
    height: 350px; /* Restore height for desktop */
    margin-top: 0; /* Remove top margin for desktop */
  }
}


.motorcycle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  align-items: stretch;
}

.header-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.header-logo {
  height: 40px;
}


