<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <img class="header-logo" src="assets/icon/Kawasaki_Logo_vert.svg" alt="Kawasaki Logo">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-header>
    <ion-card-title>Latest Motorcycles</ion-card-title>
  </ion-card-header>

  <div class="featured-motorcycle-wrapper">
    <div class="featured-content-container">
      <swiper-container #swiperContainer class="image-slider" (swiperinit)="handleSwiperInit($event)" (swiperslidechange)="handleSwiperSlideChange($event)">
        <swiper-slide *ngFor="let motorcycle of latestMotorcycles">
          <div class="image">
            <img [src]="motorcycle.mainImage" [alt]="motorcycle.modelName">
          </div>
        </swiper-slide>
      </swiper-container>
      <div class="details-container">
        <div *ngIf="activeMotorcycle">
          <h2>{{ activeMotorcycle.modelName.toUpperCase() }}</h2>
          <p><strong>Category:</strong> {{ activeMotorcycle.category }}</p>
          <p><strong>Engine Type:</strong> {{ activeMotorcycle.engineType }}</p>
          <p><strong>Displacement (CC):</strong> {{ activeMotorcycle.displacementCC }}</p>
          <p><strong>SRP:</strong> ₱{{ activeMotorcycle.priceSRP }}</p>
          <ion-button (click)="handleViewDetails(activeMotorcycle.id)">View More</ion-button>
        </div>
      </div>
    </div>
  </div>

  <ion-card-header>
    <ion-card-title>Motorcycle Catalog</ion-card-title>
  </ion-card-header>
  <app-motorcycle-catalog></app-motorcycle-catalog>

  <ion-card-header>
    <ion-card-title>Gear Catalog</ion-card-title>
  </ion-card-header>
  <app-gear-catalog></app-gear-catalog>


</ion-content>
