<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <img class="header-logo" src="assets/icon/Kawasaki_Logo_vert.svg" alt="Kawasaki Logo">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="user" [inset]="true">
    <ion-item>
      <ion-label>
        <h2>ID</h2>
        <p>{{ user.id }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Username</h2>
        <p>{{ user.username }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Full Name</h2>
        <p>{{ user.fullName }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Phone Number</h2>
        <p>{{ user.phoneNumber }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Email</h2>
        <p>{{ user.email || 'N/A' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Role</h2>
        <p>{{ user.role }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card-header>
    <ion-card-title>Available Motorcycles</ion-card-title>
  </ion-card-header>

  <div *ngIf="motorcycles.length > 0" class="motorcycle-container">
    <app-motorcycle-card
      *ngFor="let motorcycle of motorcycles"
      [id]="motorcycle.id"
      [modelName]="motorcycle.modelName"
      [priceSRP]="motorcycle.priceSRP"
      [mainImage]="motorcycle.mainImage"
      (viewDetails)="handleViewDetails($event)"
    ></app-motorcycle-card>
  </div>
  <div *ngIf="motorcycles.length === 0">
    <p class="ion-padding">No motorcycles available.</p>
  </div>

</ion-content>
