<ion-card>
  <img alt="{{ modelName }}" src="{{ mainImage }}" />
  <ion-card-header>
    <ion-card-title>{{ modelName }}</ion-card-title>
    <ion-card-subtitle>SRP: ${{ priceSRP}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <!-- Card specific content -->
  </ion-card-content>

  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" fill="outline" (click)="onViewDetails()">View Details</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block">Reserve / Inquire</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</ion-card>
