ion-card {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 8px;
}

ion-card-header {
  min-height: 80px; /* Adjust as needed to accommodate 2 lines of title */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0; /* Adjust padding as necessary */
}

ion-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2em; /* Ensure font size is consistent */
}

ion-card-content {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-footer {
  width: 100%;
  padding: 0;
}

ion-toolbar {
  padding: 0;
}

ion-grid {
  padding: 0;
}